.slider
  .slider__track
    +slider-item("img/friends/s-1.png", "Katrine")
    +slider-item("img/friends/s-2.png", "Jennifer")
    +slider-item("img/friends/s-3.png", "Woody")
  .slider__controllers
    button.slider__btn.slider__btn--next: +icon("slider__icon", "arrow-right")
    button.slider__btn.slider__btn--prev: +icon("slider__icon", "arrow-left")
