.slider
  button.slider__btn.slider__btn--prev: +icon("slider__icon", "arrow-left")
  .slider__wrapper
    .slider__track
      +pet-item("assets/img/friends/pet-1.png", "Katrine", "slider")
      +pet-item("assets/img/friends/pet-2.png", "Jennifer", "slider")
      +pet-item("assets/img/friends/pet-3.png", "Woody", "slider")
      +pet-item("assets/img/friends/test.png", "Alexandr", "slider")
  button.slider__btn.slider__btn--next: +icon("slider__icon", "arrow-right")
