footer.footer(style="background: url(img/intro/noise.png), radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;")
  .container
    .footer__inner
      address.footer__info
        .footer__col
          p.footer__title For questions and suggestions
          a.footer__item(href="mailto:email@shelter.com") email@shelter.com
            +icon("footer__icon", "f-1")
          a.footer__item(href="tel:+136745677554") +13 674 567 75 54
            +icon("footer__icon", "f-2")
        .footer__col
          p.footer__title We are waiting for your visit
          a.footer__item(href="https://www.google.com/maps/place/Пүүжээгийн+аавын+өвөлжөө/@46.5251498,102.5860404,15z/data=!4m5!3m4!1s0x5d833998c53e77a9:0xba7f8539bf5a7aa1!8m2!3d46.5245619!4d102.6011869" target="_blank") 1 Central Street, Boston <br> (entrance from the store)
            +icon("footer__icon footer__icon--sm", "f-3")
          a.footer__item(href="https://www.google.com/maps/place/Пүүжээгийн+аавын+өвөлжөө/@46.5251498,102.5860404,15z/data=!4m5!3m4!1s0x5d833998c53e77a9:0xba7f8539bf5a7aa1!8m2!3d46.5245619!4d102.6011869" target="_blank") 18 South Park, London
            +icon("footer__icon footer__icon--sm", "f-3")
      img.footer__img(src="img/footer/f-4.png", alt="dog")
