header.header
  .container
    .header__inner
      .header__logo
        h1.header__title Cozy House
        h2.header__subtitle Shelter for pets in Boston
      nav.header__menu
        ul.header__menu-list
          li.header__menu-item: a.header__menu-link.header__menu-link--active(href="#") About the shelter
          li.header__menu-item: a.header__menu-link(href="#") Our pets
          li.header__menu-item: a.header__menu-link(href="#") Help the shelter
          li.header__menu-item: a.header__menu-link(href="#") Contacts
