header.header
  .container
    .header__inner
      .header__wrapper
        .header__logo
          h1: a.header__title(href="index.html") Cozy House
          h2.header__subtitle Shelter for pets in Boston
        button.header__burger-btn(data-burger)
          span.header__burger-line
      nav.header__menu(data-menu)
        ul.header__menu-list
          li.header__menu-item: a.header__menu-link(href="index.html") About the shelter
          li.header__menu-item: a.header__menu-link(href="pets.html") Our pets
          li.header__menu-item: a.header__menu-link(href="#" onclick="return false") Help the shelter
          li.header__menu-item: a.header__menu-link(href="#" onclick="return false") Contacts

