footer.footer(style="background: url(img/intro/noise.png), radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;")
  .container
    .footer__inner
      address.footer__info
        .footer__col
          h2.footer__title For questions and suggestions
          a.footer__item(href="mailto:email@shelter.com") email@shelter.com
            +icon("footer__icon", "f-1")
          a.footer__item(href="tel:+13 674 567 75 54") +13 674 567 75 54
            +icon("footer__icon", "f-2")
        .footer__col
          h2.footer__title We are waiting for your visit
          a.footer__item(href="https://yandex.ru/maps/?um=constructor%3Afd363890607679b641e128233aa13ceddeeb4597c02ca8a38d1042891d73f33e&source=constructorLink") 1 Central Street, Boston (entrance from the store)
            +icon("footer__icon", "f-3")
          a.footer__item(href="https://yandex.ru/maps/?um=constructor%3Afd363890607679b641e128233aa13ceddeeb4597c02ca8a38d1042891d73f33e&source=constructorLink") 18 South Park, London
            +icon("footer__icon", "f-3")
      img.footer__img(src="img/footer/f-4.png", alt="dog")
