@import '../../local_modules/normalize.css/normalize';

*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  display: inline-block;

  cursor: pointer;
  text-decoration: none;
}

img {
  display: block;

  width: 100%;
  height: auto;
}

ul,
li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;

  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

input {
  font: inherit;

  border: none;
  outline: none;
  background: none;
}

input[type='button'] {
  padding: 0;

  cursor: pointer;
}

button {
  font: inherit;

  padding: 0;

  cursor: pointer;

  border: none;
  outline: none;
  background: none;
}

html {
  font-size: 62.5%;

  scroll-behavior: smooth;
}

body {
  font-family: $font-primary;
  font-size: 1.6em;

  margin: 0;
}

.page {
  display: flex;
  flex-direction: column;

  min-height: 100vh;

  &--dark {
    position: relative;

    cursor: pointer;
    &::after {
      position: absolute;
      z-index: 1500;
      top: 0;
      left: 0;

      display: block;

      width: 100%;
      height: 100%;

      content: '';

      background-color: $color-blackout;
    }
  }
}

.scroll-hidden {
  overflow: hidden;

  height: 100%;
}

.container {
  @include media-laptop {
    padding: 0 3rem;
  }
  @include media-tablet-pt {
    padding: 0 1rem;
  }

  width: 100%;
  max-width: 128rem;
  height: 100%;
  margin: 0 auto;
  padding: 0 4rem;
}
