.header {
  @include media-laptop {
    padding-top: 3rem;
  }

  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;

  width: 100%;
  padding-top: 6rem;
}

.header--dark {
  position: sticky;

  margin-top: 2rem;
  margin-bottom: 1.9rem;
  padding: 1rem 0 1rem;

  background-color: $color-light-xl;

  .header__title {
    color: $color-dark-l;
  }

  .header__subtitle {
    color: $color-dark-3xl;
  }

  .header__menu-link {
    color: $color-dark-l;

    &:hover {
      color: $color-dark-3xl;
    }

    &--active {
      color: $color-dark-3xl;
    }
  }

  .header__burger {
    background-color: $color-dark-default;
  }
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__title {
  font-size: 3.2rem;

  margin-bottom: .313em;

  letter-spacing: .06em;

  color: $color-primary;
}

.header__subtitle {
  font-family: $font-secondary;
  font-size: 1.3rem;

  padding-left: .4rem;

  letter-spacing: .1em;

  color: $color-light-xl;
}

.header__menu {
  @include media-tablet-pt {
    display: none;
  }
}

.header__menu-list {
  display: flex;
  justify-content: space-between;
}

.header__menu-item:not(:last-child) {
  margin-right: 3.6rem;
}

.header__menu-link {
  font-family: $font-secondary;
  font-size: 1.5rem;

  position: relative;

  padding-bottom: .7rem;

  transition: color .1s linear;

  color: $color-light-l;

  &:hover {
    color: $color-light-s;
  }

  &::after {
    position: absolute;
    bottom: 0;
    left: 1px;

    display: block;

    width: 100%;
    height: .3rem;

    content: '';
    transition: .1s linear;

    opacity: 0;
    background-color: $color-primary;
  }
}

.header__menu-link--active {
  color: $color-light-s;

  &::after {
    opacity: 1;
  }
}

.header__burger {
  @include media-tablet-pt {
    display: block;
  }

  position: relative;

  display: none;

  width: 3rem;
  height: .2rem;
  margin-right: 4.3rem;

  content: '';

  background-color: $color-primary;

  &::before {
    position: absolute;
    right: 0;
    bottom: 1rem;

    display: inline-block;

    width: inherit;
    height: inherit;

    content: '';

    background-color: inherit;
  }

  &::after {
    position: absolute;
    top: 1rem;
    right: 0;

    display: inline-block;

    width: inherit;
    height: inherit;

    content: '';

    background-color: inherit;
  }
}
