.modal-bg {
  position: fixed;
  z-index: 2000;
  top: 0;
  bottom: 0;
  left: 0;

  display: flex;
  visibility: hidden;
  align-items: center;
  justify-content: center;

  width: 100%;

  transition: visibilty 0s, opacity .1s linear;

  opacity: 0;
  background-color: $color-blackout;

  &--active {
    visibility: visible;

    opacity: 1;
  }
}

.modal {
  @include media-laptop {
    width: 85%;
  }
  @include media-tablet-pt {
    width: 79%;
  }

  position: relative;

  width: 100%;
  max-width: 97rem;

  border-radius: 9px;
  background-color: $color-light-s;
  box-shadow: 0 2px 35px 14px rgba(13, 13, 13, .04);
}

.modal__inner {
  display: flex;
  overflow-y: auto;
  justify-content: space-between;

  max-height: calc(100vh - 5rem);
}

.modal__img-wrapper {
  @include media-laptop {
    min-width: 35rem;
    max-width: 35rem;
    min-height: 35rem;
    max-height: 35rem;
  }
  @include media-tablet-pt {
    display: none;
  }

  position: relative;

  overflow: hidden;

  width: 100%;
  min-width: 50rem;
  max-width: 50rem;
  min-height: 50rem;
  max-height: 50rem;

  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
}

.modal__img {
  @include pet-img;

  align-self: center;
}

.modal__content {
  @include media-laptop {
    padding: 1rem 0 3.7rem;
  }
  @include media-tablet-pt {
    margin-right: 0;
    padding: 1rem;
  }

  margin-right: 2rem;
  padding: 5rem 0 8.8rem;

  letter-spacing: .06em;

  color: $color-dark-default;
}

.modal__name {
  @include media-tablet-pt {
    text-align: center;
  }

  font-size: 3.5rem;

  margin-bottom: 1rem;
}

.modal__type-breed {
  @include media-tablet-pt {
    justify-content: center;
  }

  font-size: 2rem;

  display: flex;
}

.modal__dash {
  margin: 0 .6rem;
}

.modal__txt {
  @include media-laptop {
    margin: 2rem 0;
  }
  @include media-tablet-pt {
    text-align: justify;
  }

  font-size: 1.5rem;
  line-height: 1.1;

  margin: 4rem 0;
}

.modal__info-key {
  font-weight: 700;

  margin-right: .7rem;
}

.modal__info-item {
  position: relative;

  display: flex;
  align-items: center;

  margin-left: 1rem;

  &:not(:last-child) {
    margin-bottom: 1.1rem;
  }

  &::before {
    position: absolute;
    left: -1rem;

    display: block;

    width: 4px;
    height: 4px;

    content: '';

    border-radius: 50%;
    background-color: $color-primary;
  }
}

.modal__close {
  @include media-tablet-pt {
    top: -53px;
    right: -30px;
  }

  position: absolute;
  top: -47px;
  right: -47px;

  display: flex;
  align-items: center;
  justify-content: center;

  max-width: 52px;
  max-height: 52px;
  padding: 1.8rem;

  border-radius: 100%;
  background-color: none;
}

.modal__icon {
  width: 20px;
  height: 20px;

  fill: $color-dark-3xl;
}
