.link-btn {
  font-size: 1.7rem;

  align-self: center;

  padding: .88em 2.647em;

  transition: .1s linear;
  text-align: center;
  letter-spacing: .06em;

  color: $color-dark-3xl;
  border: .2rem solid $color-primary;
  border-radius: 100px;
  background-color: $color-primary;

  &:hover {
    border-color: $color-primary-light;
    background-color: $color-primary-light;
  }
}
