.link-btn,
.btn {
  font-size: 1.7rem;

  align-self: center;

  padding: .825em 2.525em;

  transition: border-color .1s linear, background-color .1s linear;
  text-align: center;
  letter-spacing: .06em;

  color: $color-dark-3xl;
  border: .2rem solid $color-primary;
  border-radius: 100px;
  background-color: $color-primary;

  &:not([data-pag-page]):hover {
    border-color: $color-primary-light;
    background-color: $color-primary-light;
  }
}
