.slider {
  @include media-laptop {
    max-width: 70.8rem;
  }
  @include media-tablet-pt {
    flex-direction: column;

    max-width: 27rem;
  }

  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  max-width: 120rem;
}

.slider__wrapper {
  @include media-laptop {
    max-width: 58.1rem;
    margin: 0 1.2rem;
  }
  @include media-tablet-pt {
    max-width: inherit;
    margin: 0;
  }

  overflow: hidden;

  width: 100%;
  max-width: 99rem;
  margin: 0 5.3rem;
}

.slider__track {
  display: flex;
  align-items: stretch;
  justify-content: space-between;

  width: 100%;
  max-width: inherit;
  margin: 0 auto;

  opacity: 0;
}

.slider__item {
  @include media-laptop {
    margin-right: 4rem;
  }
  @include media-tablet-pt {
    margin-right: 0;
    margin-bottom: 2rem;
  }
  @include pet-item;

  flex: 0 1 27.3%;

  margin-right: 9rem;
}

.slider__img-wrp {
  @include img-wrapper;
}

.slider__img {
  @include pet-img;

  &--transparent {
    padding: 2rem;
  }
}

.slider__content {
  padding: 0 0 3rem;
}

.slider__name {
  @include pet-name;
}

.slider__txt {
  display: none;
}

.slider__link {
  @include pet-link;
}

.slider__icon {
  width: 1.4rem;
  height: .6rem;

  fill: $color-dark-3xl;
}

.slider__btn {
  @include media-tablet-pt {
    position: absolute;
    bottom: -5rem;
  }

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 2.1rem 1.7rem;

  transition: .1s linear;

  border: .2rem solid $color-primary;
  border-radius: 100px;

  &:hover {
    border-color: $color-primary-light;
    background-color: $color-primary-light;
  }

  &:active {
    transform: scale(.85);
  }

  &--next {
    @include media-tablet-pt {
      left: 65%;
    }
  }

  &--prev {
    @include media-tablet-pt {
      right: 65%;
    }
  }

  &--inactive {
    @include disabled-btn;

    .slider__icon {
      @include disabled-icon;
    }
  }
}

.slider__anime {
  animation: slider-in .1s forwards ease-in-out;

  @keyframes slider-in {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}
