.slider {
  position: relative;

  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
}

.slider__track {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  max-width: 99rem;
  margin: 0 auto;

  transition: .2s linear;
}

.slider__wrap {
  overflow: hidden;

  width: 100%;
  max-width: 99rem;
  margin: 0 auto;
}

.slider__item {
  display: flex;
  align-items: center;
  flex: 0 0 27.3%;
  flex-direction: column;

  margin-right: 9rem;
  padding: 3rem 3.5rem;

  cursor: pointer;
  transition: .2s ease-in-out;

  border-radius: 9px;
  background-color: $color-light-s;


  &:hover {
    background-color: $color-light-xl;
    box-shadow: 0 .2rem 3.5rem 1.4rem rgba(13, 13, 13, .04);
  }
}

.slider__img {
  min-width: 20rem;
  max-width: 20rem;
  min-height: 24rem;
  max-height: 24rem;
  margin-bottom: 3rem;

  object-fit: cover;
}

.slider__name {
  font-size: 2rem;

  margin-bottom: 3rem;

  letter-spacing: .06em;

  color: $color-dark-xl;
}

.slider__link {
  background-color: none;
}

.slider__icon {
  width: 1.4rem;
  height: .6rem;

  fill: $color-dark-3xl;
}

.slider__btn {
  position: absolute;
  top: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 5.2rem;
  height: 5.2rem;

  transition: .1s linear;
  transform: translateY(-50%);

  border: .2rem solid $color-primary;
  border-radius: 100px;

  &:hover {
    border-color: $color-primary-light;
    background-color: $color-primary-light;
  }

  &:active {
    width: 4.5rem;
    height: 4.5rem;
  }

  &--next {
    right: 0;
  }

  &--prev {
    left: 0;
  }

  &--inactive {
    cursor: not-allowed;

    border-color: $color-light-l;

    .slider__icon {
      fill: $color-light-l;
    }

    &:hover {
      border-color: $color-light-l;
      background: none;
    }

    &:active {
      width: 5.2rem;
      height: 5.2rem;
    }
  }
}
