extends common/layout

block title
  title Shelter - Our pets

block content
  main
    article.pets
      .container
        .pets__inner
          h2.pets__title Our friends who <br> are looking for a house
          .pets__wrapper
          .pets__pag
            +btn("")(class="pets__pag-link pets__pag-link--inactive" data-pag-first): +icon("pets__pag-icon pets__pag-icon--double pets__pag-icon--revert", "arrow-double" )
            +btn("")(class="pets__pag-link pets__pag-link--inactive" data-pag-prev): +icon("pets__pag-icon pets__pag-icon--revert", "arrow")
            +btn("1")(class="pets__pag-link pets__pag-link--active" data-pag-page)
            +btn("")(class="pets__pag-link" data-pag-next): +icon("pets__pag-icon", "arrow")
            +btn("")(class="pets__pag-link" data-pag-last): +icon("pets__pag-icon pets__pag-icon--double", "arrow-double")
