extends common/layout

block title
  title Shelter - Our pets

block content
  main
    article.pets
      .container
        .pets__inner
          h2.pets__title Our friends who <br> are looking for a house
          +modal
          .pets__wrapper
            +pet-item("assets/img/friends/pet-1.png", "Katrine", "pets", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus quisquam cumque neque illum at corrupti rerum, ex qui explicabo repudiandae ipsum fugiat, facilis molestias optio, sunt facere tempora dignissimos veniam!")
            +pet-item("assets/img/friends/pet-2.png", "Jennifer", "pets", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium sed blanditiis, fugiat dolores laboriosam, delectus maxime exercitationem libero doloremque hic id voluptas culpa, possimus praesentium beatae expedita deserunt explicabo qui!")
            +pet-item("assets/img/friends/pet-3.png", "Woody", "pets", "Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Дорогу вопроса эта переулка вопрос свой агентство своих страну обеспечивает напоивший, раз путь коварных ведущими встретил маленькая подзаголовок, живет послушавшись?")
            +pet-item("assets/img/friends/pet-4.png", "Sophia", "pets", "Lorem ipsum dolor sit amet.")
            +pet-item("assets/img/friends/pet-5.png", "Timmy", "pets", "Lorem ipsum dolor sit amet consectetur, adipisicing elit.")
            +pet-item("assets/img/friends/pet-6.png", "Charly", "pets", "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure, ipsa veritatis porro dicta voluptatem explicabo.")
            +pet-item("assets/img/friends/pet-7.png", "Scarlett", "pets", "Lorem ipsum dolor sit amet.")
            +pet-item("assets/img/friends/pet-8.png", "Freddy", "pets", "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem quo reiciendis eveniet laborum totam.")
          .pets__pag
            +btn("")(class="pets__pag-link pets__pag-link--inactive" disabled): +icon("pets__pag-icon pets__pag-icon--double pets__pag-icon--revert", "arrow-double")
            +btn("")(class="pets__pag-link pets__pag-link--inactive" disabled): +icon("pets__pag-icon pets__pag-icon--revert", "arrow")
            +btn("1")(class="pets__pag-link pets__pag-link--active")
            +btn("")(class="pets__pag-link"): +icon("pets__pag-icon", "arrow")
            +btn("")(class="pets__pag-link"): +icon("pets__pag-icon pets__pag-icon--double", "arrow-double")
