@font-face {
  font-family: 'Arial Regular';
  font-weight: normal;
  font-style: normal;

  src: local('Arial Regular'), url('assets/fonts/ARIAL.woff') format('woff');
}

@font-face {
  font-family: 'Arial Italic';
  font-weight: normal;
  font-style: normal;

  src: local('Arial Italic'), url('assets/fonts/ARIALI.woff') format('woff');
}

@font-face {
  font-family: 'Georgia Regular';
  font-weight: normal;
  font-style: normal;

  src: local('Georgia Regular'), url('assets/fonts/georgia.woff') format('woff');
}
