@font-face {
  font-family: 'Arial';
  font-weight: 400;
  font-style: normal;

  src: local('Arial Regular'), url('assets/fonts/ARIAL.woff') format('woff');
}

@font-face {
  font-family: 'Arial';
  font-weight: 400;
  font-style: italic;

  src: local('Arial Italic'), url('assets/fonts/ARIALI.woff') format('woff');
}

@font-face {
  font-family: 'Georgia';
  font-weight: 400;
  font-style: normal;

  src: local('Georgia Regular'), url('assets/fonts/georgia.woff') format('woff');
}
