// Breakpoints
$media-xl: 1199px;
$media-lg: 991px;
$media-md: 767px;
$media-sm: 575px;
$media-xs: 480px;
// Colors
$color-primary: #f1cdb3;
$color-primary-light: #fddcc4;
$color-dark-l: #545454;
$color-dark-xl: #4c4c4c;
$color-dark-3xl: #292929;
$color-dark-m: #b2b2b2;
$color-light-xl: #fff;
$color-light-s: #fafafa;
$color-light-l: #cdcdcd;
$color-light-m: #f6f6f6;
// Fonts
$font-primary: Georgia, 'Times New Roman', Times, serif;
$font-secondary: Arial, Helvetica, sans-serif;
