.about {
  padding: 8rem 0 10rem;

  background: $color-light-xl;
}

.about__inner {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0 5.5rem;
}

.about__info {
  padding-left: 12rem;
}

.about__img {
  max-width: 30rem;
  max-height: 40.8rem;

  object-fit: contain;
}

.about__title {
  @include section-title(37rem);

  margin-bottom: .714em;
}

.about__txt {
  font-family: $font-secondary;
  font-size: 1.5rem;
  line-height: 1.6;

  width: 100%;
  max-width: 28.666em;

  color: $color-dark-xl;

  p:not(:last-child) {
    margin-bottom: 1.666em;
  }
}
