.about {
  @include media-tablet-pt {
    padding: 4.2rem 0;
  }

  padding: 8rem 0 10rem;

  background: $color-light-xl;
}

.about__inner {
  @include media-laptop {
    flex-direction: column-reverse;

    padding: 0;
  }

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0 5.5rem;
}

.about__info {
  @include media-laptop {
    margin-bottom: 8rem;
    padding-left: 0;
  }

  padding-left: 12rem;
}

.about__img {
  @include media-tablet-pt {
    max-width: 26rem;
    max-height: 35.36rem;
  }

  max-width: 30rem;
  max-height: 40.8rem;

  object-fit: contain;
}

.about__title {
  @include media-tablet-pt {
    max-width: 29rem;
    margin: 0 auto 2.5rem;

    text-align: center;
  }
  @include section-title(37rem);

  width: 100%;
  margin-bottom: 2.5rem;
}

.about__txt {
  @include media-laptop {
    max-width: 29.133em;
  }
  @include media-tablet-pt {
    text-align: justify;
  }

  font-family: $font-secondary;
  font-size: 1.5rem;
  line-height: 1.6;

  width: 100%;
  max-width: 28.666em;

  color: $color-dark-xl;

  p:not(:last-child) {
    margin-bottom: 1.666em;
  }
}
