.donat {
  @include media-tablet-pt {
    padding: 4.2rem 0;
  }

  padding: 8rem 0 10.2rem;

  background-color: $color-light-m;
}

.donat__inner {
  @include media-laptop {
    flex-direction: column-reverse;
  }

  display: flex;
  align-items: center;
  justify-content: center;
}

.donat__img {
  @include media-tablet-pt {
    max-width: 26rem;
    max-height: 13.52rem;
  }

  max-width: 50.5rem;
  max-height: 26.1rem;

  object-fit: contain;
}

.donat__info {
  @include media-laptop {
    display: flex;
    flex-direction: column;

    margin-bottom: 6rem;
    padding: 0;
  }
  @include media-tablet-pt {
    align-items: center;

    text-align: center;
  }

  padding-left: 3rem;
}

.donat__title {
  @include section-title(30rem);

  margin-bottom: .571em;
}

.donat__bank {
  @include media-tablet-pt {
    letter-spacing: 0;
  }

  font-size: 1.5rem;

  margin-bottom: 1.333em;

  letter-spacing: .06em;

  color: $color-dark-l;
}

.donat__link {
  @include media-tablet-pt {
    font-size: 1.5rem;

    align-self: center;
  }

  font-size: 2rem;

  display: inline-flex;
  align-items: center;
  align-self: flex-start;
  flex-direction: row-reverse;
  justify-content: space-between;

  margin-bottom: 1em;
  padding: .425em .64em;

  border-radius: 9px;
}

.donat__icon {
  width: 3rem;
  height: 2rem;
  margin-right: .75em;
}

.donat__txt {
  @include media-tablet-pt {
    text-align: justify;
  }

  font-family: $font-secondary;
  font-size: 1.2rem;
  font-style: italic;
  line-height: 1.5;

  max-width: 31.666em;

  color: $color-dark-m;
}
