.friends {
  @include media-tablet-pt {
    padding: 4.1rem 0;
  }

  padding: 8rem 0 9.9rem;

  background-color: $color-light-m;
}

.friends__inner {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.friends__title {
  @include section-title(40rem);

  width: 100%;
  margin-bottom: 1.714em;

  text-align: center;
}

.friends__link {
  @include media-tablet-pt {
    margin-top: 5.65em;
  }

  margin-top: 3.65em;
}
