.friends {
  padding: 8rem 0 9.8rem;

  background-color: $color-light-m;
}

.friends__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.friends__title {
  @include section-title(40rem);

  margin: 0 auto;
  margin-bottom: 1.714em;

  text-align: center;
}

.friends__link {
  margin-top: 3.529em;
}
