.help {
  padding: 8rem 0 4rem;

  background-color: $color-light-xl;
}

.help__title {
  @include section-title(31rem);

  margin: 0 auto;
  margin-bottom: 1.714em;

  text-align: center;
}

.help__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.help__item {
  width: 20%;
  margin-bottom: 5.5rem;

  text-align: center;
}

.help__icon {
  width: 6rem;
  height: 6rem;
  margin-bottom: 3rem;
}

.help__txt {
  font-size: 2rem;

  letter-spacing: .06em;

  color: $color-dark-l;
}
