.help {
  padding: 80px 0 41px;

  background-color: $color-light-xl;
}

.help__title {
  @include section-title(310px);

  margin: 0 auto;
  margin-bottom: 60px;

  text-align: center;
}

.help__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.help__item {
  width: 20%;
  margin-bottom: 55px;

  text-align: center;
}

.help__icon {
  width: 60px;
  height: 60px;
  margin-bottom: 30px;
}

.help__txt {
  font-size: 2rem;

  letter-spacing: .06em;

  color: $color-dark-l;
}
