.pets {
  @include media-laptop {
    padding: 8rem 0 7.53rem;
  }
  @include media-tablet-pt {
    padding: 4.28rem 0;
  }

  padding: 8rem 0 10rem;

  background-color: $color-light-m;
}

.pets__inner {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.pets__title {
  @include section-title(40rem);
  @include media-laptop {
    margin-bottom: .875em;
  }
  @include media-tablet-pt {
    margin-bottom: 1.7em;
  }

  width: 100%;
  margin-bottom: 1.714em;

  text-align: center;
}

.pets__wrapper {
  @include media-laptop {
    justify-content: center;

    max-width: 92rem;
    padding-bottom: 1.3rem;
  }
  @include media-tablet-pt {
    max-width: 60rem;
  }

  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  // justify-content: space-between;

  width: 100%;
  padding-bottom: 3.2rem;
}

.pets__item {
  @include pet-item;
  @include media-laptop {
    margin: 0 2rem 3rem;
  }
  // margin: 0 0 3rem;

  margin: 0 1.5rem 3rem;


  &:hover {
    transform: translateY(-5px);

    .pets__img {
      transform: scale(1.03);
    }
  }
}

.pets__img-wrp {
  @include img-wrapper;
}

.pets__img {
  @include pet-img;

  transition: transform .2s ease-in-out;

  &--transparent {
    padding: 2rem;
  }
}

.pets__content {
  @include pet-content;
}

.pets__name {
  @include pet-name;
}

.pets__link {
  @include pet-link;
}

.pets__txt {
  display: none;
}

.pets__pag {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  max-width: 34rem;
}

.pets__pag-link {
  font-size: 2rem;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  max-width: 52px;
  max-height: 52px;
  padding: 1.2em;

  border-radius: 100%;
  background-color: none;

  &:disabled {
    @include disabled-btn;

    .pets__pag-icon {
      @include disabled-icon;
    }
  }

  &--active {
    border-color: $color-primary;
    background-color: $color-primary;
  }

  &--arrow {
    padding: .5rem 1rem;
  }
}

.pets__pag-icon {
  position: absolute;

  width: 13px;
  height: 20px;

  fill: $color-dark-3xl;

  &--revert {
    transform: rotate(180deg);
  }

  &--double {
    width: 27px;
  }
}
