@mixin section-title($width) {
  @include media-tablet-pt {
    font-size: 2.5rem;
  }

  font-size: 3.5rem;
  line-height: 1.3;

  width: 100%;
  max-width: $width;

  letter-spacing: .06em;

  color: $color-dark-l;
}
